@import "tailwindcss";

@theme {
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-serif: "Playfair Display", serif;

  --animate-shimmer: shimmer 2.5s linear infinite;
  --animate-slide-up: slideUp 0.4s cubic-bezier(0.16, 1, 0.3, 1) forwards;

  /* Nova animação do fundo dinâmico */
  --animate-blob: blob 10s infinite;
}

@keyframes shimmer {
  0% {
    background-position: 200% center;
  }
  100% {
    background-position: -200% center;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Movimento suave e fluido das bolhas de cor */
@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(40px, -60px) scale(1.1);
  }
  66% {
    transform: translate(-30px, 30px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}

/* Classes para atrasar a animação e criar um ritmo natural */
.animation-delay-2000 {
  animation-delay: 2s;
}
.animation-delay-4000 {
  animation-delay: 4s;
}

body:has(.modal-aberto) {
  overflow: hidden;
}
